<Limit GET POST PUT DELETE>
    Allow from all
</Limit>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/ 
    RewriteRule (.*) /book-shop/server/api/$1 [P] 
    # RewriteRule (.*) http://192.168.0.15/~user16/book-shop/server/api/$1 [P] 
</IfModule>